{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>M-Suite Admin</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
      integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="site-main">
    <!-- Header -->
    
    <!-- Body Content -->
    <main>
        <div class="page"> 
          <div class="row g-0">
            <div class="col-12 col-md-3 col-lg-3">
              <div class="nav-wraper">
                <div class="inner-wrapper">
                  <div class="logo">
                    <img class="img-fluid site-logo"src="{% static 'images/site-logo.png' %}"alt="Logo"/>
                  </div>
                  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">               
                    
                       <!-- Overview -->   
  
                       <a href="{% url 'overview' %}">
                        <button class="nav-link " id="v-pills-overview-tab" data-bs-toggle="pill" data-bs-target="#v-pills-overview" 
                      type="button" role="tab" aria-controls="v-pills-overview" aria-selected="true"><img src="{% static 'images/1.png' %}" alt="" class="icon"> Overview</button>
                      </a>   
                              
                      
                      
                      <!-- Website Keyword Analysis -->
                      <a href="{% url 'website_keyword' %}">
                        <button class="nav-link" id="v-pills-website-keyword-tab" data-bs-toggle="pill" data-bs-target="/website-keyword"
                        type="button" role="tab" aria-controls="v-pills-website-keyword" aria-selected="true"><img src="{% static 'images/2.png' %}"  alt="" class="icon">Website Keyword Analysis</button>
                      </a>
                      
                      
                        <!-- Brand Personility Audit -->
                        <a href="{% url 'brand_personality' %}">
                        <button class="nav-link active" id="v-pills-brand-tab" data-bs-toggle="pill" data-bs-target="#v-pills-brand" 
                      type="button" role="tab" aria-controls="v-pills-brand" aria-selected="false"><img src="{% static 'images/3.png' %}"  alt="" class="icon">Brand Personality Audit</button>
                        </a>
                      
                      
                      <!-- Setiment Analysis -->
                      <a href="{% url 'sentiment_analysis' %}">
                        <button class="nav-link" id="v-pills-sentiment-tab" data-bs-toggle="pill" data-bs-target="#v-pills-sentiment" 
                      type="button" role="tab" aria-controls="v-pills-sentiment" aria-selected="false"><img src="{% static 'images/4.png' %}"  alt="" class="icon">Youtube Analyzer</button>
                      </a>
                      
                      
                      <!-- Profile Analyzer -->
                      <a href="{% url 'profile_analyzer' %}">
                        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" 
                      type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><img src="{% static 'images/5.png' %}"  alt="" class="icon">Profile Analyzer</button>
                      </a>
                      
                      
                      <!-- Brand Authority -->
                      <a href="{% url 'brand_authority' %}">
                        <button class="nav-link" id="v-pills-authority-tab" data-bs-toggle="pill" data-bs-target="#v-pills-authority" 
                      type="button" role="tab" aria-controls="v-pills-authority" aria-selected="false"><img src="{% static 'images/6.png' %}"  alt="" class="icon">Brand Authority</button> 
                      </a>
                     
    
        
                  </div>
                  <div class="bottom-image">
                    <img src="{% static 'images/side-nav-bottom.png' %}" alt="" class="bottom">
                  </div>
                </div>

              </div>
            </div>
            <div class="col-12 col-md-9 col-lg-9">
              <div class="tab-content" id="v-pills-tabContent">
            
                <!-- Overview -->
                <div class="tab-pane fade show active" id="v-pills-overview" role="tabpanel" aria-labelledby="v-pills-overview-tab">
                  <div class="overview">
                    <div class="row">
                      <div class="col-12 col-md-10 col-lg-10">
                        <div class="title">
                          <h2 class="website-title">
                           Brand Personality Audit
                          </h2>
                        </div>
                      </div>
                      <div class="col-12 col-md-2 col-lg-2">
                        <div class="user">
                          <img src="{% static 'images/user.png' %}" alt="" class="aveter">
                         </div>
                      </div>
                    </div>
                    <div class="div">
                      <h1>
                        Comming Soon
                      </h1>
                    </div>

                  </div>
                </div>
                
                
                      </div>
                    </div>
                  </div>
                </div>
                
    
                
                <!-- Brand Personility Audit -->
                <div class="tab-pane fade" id="v-pills-brand" role="tabpanel" aria-labelledby="v-pills-brand-tab">
                  <div class="website">
                    <div class="row">
                      <div class="col-12 col-md-10 col-lg-10">
                        <div class="title">
                          <h2 class="website-title">
                            Overview
                          </h2>
                        </div>
                      </div>
                      <div class="col-12 col-md-2 col-lg-2">
                        <div class="user">
                          <img src="{% static 'images/user.png' %}" alt="" class="aveter">
                         </div>
                      </div>
                    </div>
                    <div class="div">
                      <h1>
                        Comming Soon
                      </h1>
                    </div>
                    </div>
                  </div>
                </div>
                
                
                  </div>
                </div>    
              </div>
          </div>
        </div>
    </main>
      <footer class="footer-wrap py-3">
        <div class="container">
          <p class="copyright-text text-center mb-0">
            © 2023 M-Suite All rights reserved.
          </p>
        </div>
      </footer>


      <script>
        document.getElementById('overview-link').addEventListener('click', function(event) {
            event.preventDefault();  // Prevent the default behavior of the link
            window.location.href = this.getAttribute('href');
        });
        </script>
      <script>
        document.getElementById('sentiment_analysis-link').addEventListener('click', function(event) {
            event.preventDefault();  // Prevent the default behavior of the link
            window.location.href = this.getAttribute('href');
        });
        </script>
        <script>
          document.getElementById('brand_authority-link').addEventListener('click', function(event) {
              event.preventDefault();  // Prevent the default behavior of the link
              window.location.href = this.getAttribute('href');
          });
          </script>
        <script>
          document.getElementById('brand_personality-link').addEventListener('click', function(event) {
              event.preventDefault();  // Prevent the default behavior of the link
              window.location.href = this.getAttribute('href');
          });
          </script>
      
          <script>
            document.getElementById('profile_analyzer-link').addEventListener('click', function(event) {
                event.preventDefault();  // Prevent the default behavior of the link
                window.location.href = this.getAttribute('href');
            });
            </script>

            <script>
              document.getElementById('website_keyword-link').addEventListener('click', function(event) {
                  event.preventDefault();  // Prevent the default behavior of the link
                  window.location.href = this.getAttribute('href');
              });
              </script>
    
    <!-- External -->
    <script src="./assets/js/scripts-min.js"></script>
  </body>
</html>
