{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>M-Suite Admin</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
      integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
      integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

<body class="site-main">
    <!-- Header -->

    <!-- Body Content -->
    <main>
        <div class="page">
            <div class="row g-0">
                <div class="col-12 col-md-3 col-lg-3">
                    <div class="nav-wraper">
                        <div class="inner-wrapper">
                            <div class="logo">
                                <img class="img-fluid site-logo" src="{% static 'images/site-logo.png' %}" alt="Logo" />
                            </div>
                            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                       <!-- Overview -->   
  
                       <a href="{% url 'overview' %}">
                        <button class="nav-link " id="v-pills-overview-tab" data-bs-toggle="pill" data-bs-target="#v-pills-overview" 
                      type="button" role="tab" aria-controls="v-pills-overview" aria-selected="true"><img src="{% static 'images/1.png' %}" alt="" class="icon"> Overview</button>
                      </a>   
                              
                      
                      
                      <!-- Website Keyword Analysis -->
                      <a href="{% url 'website_keyword' %}">
                        <button class="nav-link" id="v-pills-website-keyword-tab" data-bs-toggle="pill" data-bs-target="/website-keyword"
                        type="button" role="tab" aria-controls="v-pills-website-keyword" aria-selected="true"><img src="{% static 'images/2.png' %}"  alt="" class="icon">Website Keyword Analysis</button>
                      </a>
                      
                      
                      
                      <!-- Setiment Analysis -->
                      <a href="{% url 'sentiment_analysis' %}">
                        <button class="nav-link" id="v-pills-sentiment-tab" data-bs-toggle="pill" data-bs-target="#v-pills-sentiment" 
                      type="button" role="tab" aria-controls="v-pills-sentiment" aria-selected="false"><img src="{% static 'images/4.png' %}"  alt="" class="icon">Youtube Analyzer</button>
                      </a>
                    
                      <!-- Sentiments -->
                      <a href="{% url 'sentiments' %}">
                        <button class="nav-link active" id="v-pills-sentiments-tab" data-bs-toggle="pill" data-bs-target="#v-pills-sentiments" 
                      type="button" role="tab" aria-controls="v-pills-sentiments" aria-selected="false"><img src="{% static 'images/5.png' %}"  alt="" class="icon">Sentiments</button>
                      </a>
                      
                      <!-- Brand Personility Audit -->
                      <a href="{% url 'brand_personality' %}">
                        <button class="nav-link" id="v-pills-brand-tab" data-bs-toggle="pill" data-bs-target="#v-pills-brand" 
                      type="button" role="tab" aria-controls="v-pills-brand" aria-selected="false"><img src="{% static 'images/3.png' %}"  alt="" class="icon">Brand Personality Audit</button>
                        </a>

                                              
                      <!-- Profile Analyzer -->
                      <a href="{% url 'profile_analyzer' %}">
                        <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" 
                      type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false"><img src="{% static 'images/5.png' %}"  alt="" class="icon">Profile Analyzer</button>
                      </a>
                                              
                      <!-- Brand Authority -->
                      <a href="{% url 'brand_authority' %}">
                        <button class="nav-link" id="v-pills-authority-tab" data-bs-toggle="pill" data-bs-target="#v-pills-authority" 
                      type="button" role="tab" aria-controls="v-pills-authority" aria-selected="false"><img src="{% static 'images/6.png' %}"  alt="" class="icon">Brand Authority</button> 
                      </a>
                     
   

                            </div>
                            <div class="bottom-image">
                                <img src="{% static 'images/side-nav-bottom.png' %}" alt="" class="bottom">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-12 col-md-9 col-lg-9">
                    <div class="tab-content" id="v-pills-tabContent">

                        <!-- Sentiment Analysis -->
                        <div class="tab-pane fade show active" id="v-pills-sentiment" role="tabpanel" aria-labelledby="v-pills-sentiment-tab">

                            <div class="sentiment">

                                <div class="row">
                                    <div class="col-12 col-md-10 col-lg-10">
                                        <div class="title">
                                            <h2 class="website-title">
                                                Sentiment Analysis
                                            </h2>

                                            <form id="historyForm" method="POST" action="{% url 'history' %}">
                                                {% csrf_token %}
                                                <img src="{% static 'images/histry.png' %}" alt="" class="history-button" onclick="submitForm()" type='button'>
                                            </form>

                                            <a href="#"></a>
                                        </div>
                                        <div class="bar">
                                           
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-2 col-lg-2">
                                        <div class="user">
                                            <img src="{% static 'images/user.png' %}" alt="" class="aveter">
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-1">
                                    <div class="col-12 col-md-10 col-lg-10 youtubebar">
                                        <form method="POST" action="{% url 'sentiments_text' %}">
                                            {% csrf_token %}
                                            <div class="youtube">

                                                <input type="text" name = 'text_or_par' placeholder="Enter text or paragraph here !" class="url">
                                            </div>
                                    </div>
                                    <div class="col-12 col-md-2 col-lg-2">
                                        <div class="submit-btn">
                                            <button class="submit">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                                <div class="row g-3">
                                    <div class="col-12 col-md-3 col-lg-6">
                                        <div class="subscribers">
                                            <div class="subscribe">
                                                <h4 class="title">
                                                    Sentiment
                                                </h4>
                                            </div>
                                            <div class="sentiment-chart">
                                                <canvas class="sentimentCharts" width="100%"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-3 col-lg-6">
                                        <div class="key-topcs-wrap">
                                            <div class="row g-0">
                                                <div class="col-12 col-md-8 col-lg-8">
                                                    <div class="key-title">
                                                        <h4 class="title"> Dataset</h4>
                                                    </div>
                                                </div>  
                                                <div class="col-12 col-md-4 col-lg-4">
                                                    <div class="download">
                                                        
                                                        <form>
                                                            <a href="{% url 'download_txt_sentiments' %}" class="download" download="txt_sentiments.xlsx">
                                                                <img src="{% static 'images/down.png' %}" alt="" class="down-img">
                                                            </a>
                                                          </form>

                                                    </div>
                                                    
                                                </div>  
                                            </div>
                                            
                                            <table class="dataset table table-bordered">
                                                <tr>
                                                  <th class="id-title">
                                                    Sentence
                                                  </th>
                                                  {% comment %} <th class="username-title">
                                                    Video title
                                                  </th> {% endcomment %}
                                                  <th class="text-title">
                                                    Sentiment
                                                  </th>
                                                </tr>
                                                {% for entry in df_comments_txt %}
                                                <tr class='trtxt'>
                                                    
                                                    <td class="key-data">{{ entry.Sentence }}</td>
                                                    {% comment %} <td class="count-data">{{ entry.Video_Title }}</td> {% endcomment %}
                                                    <td class="count-data">{{ entry.Sentiment }}</td>
                                                </tr>
                                                {% endfor %}
                                              </table>


                                        </div>
                                    </div>

                                </div>
                                <div class=" cloud-wrap ">
                                    <div class="row g-3 ">
                                        <div class="col-12 col-md-6 col-lg-6 ">
                                            <div class="wordcloudSentiment-wraper ">
                                                <ul class="nav nav-tabs " id="myTab " role="tablist ">
                                                    <!-- wordcloud sentiment -->
                                                    <li class="nav-item " role="presentation ">

                                                        <div class=" ">
                                                            <h4 class="title ">Word Cloud </h4>
                                                        </div>

                                                    </li>

                                                </ul>
                                                <div class="tab-content " id="myTabContent ">
                                                    <!-- wordcloud sentiment -->
                                                    <div class="tab-pane fade show active " id="home-tab-pane " role="tabpanel " aria-labelledby="home-tab " tabindex="0 ">
                                                        <div class="wordcloud-sentiment ">

                                                            <a href='https://wordart.com/edit/hod5hgvuz8bi'>
                                                            <img class="cloud-image img-fluid" src="data:image/png;base64,{{ wordcloud_image_sen }}" alt="" href='https://wordart.com/edit/hod5hgvuz8bi'>
                                                            </a>
                                                        </div>

                                                        
                                                    </div>
                                                    
                                                </div>

                                            </div>
                                        </div>
                                        <!-- wordcloud list -->
                                        <div class="col-12 col-md-6 col-lg-6 ">
                                            <div class="comments ">
                                                <div class="word-cloud-list">
                                                    <div class="row g-0">
                                                        <div class="col-12 col-md-8 col-lg-8">
                                                            <div class="word-title">
                                                                <h4 class="title">
                                                                    Word Cloud List
                                                                </h4>
                                                            </div>



                                                        </div>
                                                        <div class="col-12 col-md-4 col-lg-r">
                                                            <div class="download">

                                                                <form>
                                                                    <a href="{% url 'download_dataset_sen_wc' %}" class="download" download="dataset_sen_wc_df.csv">
                                                                        <img src="{% static 'images/down.png' %}" alt="" class="image">
                                                                    </a>
                                                                  
                                                                  
                                                                  </form>

                                                            </div>
                                                            
                                                        </div>


                                                    </div>



                                                </div>


                                                <div class="tab-content " id="myTabContent ">
                                                    <div class="tab-pane fade show active " id="homes-tab-pane " role="tabpanel " aria-labelledby="homes-tab " tabindex="0 ">
                                                        <div class="positive-wrap ">
                                                            <table class="table table-hover">
                                                                <tr>
                                                                  <th class="keyword">Word</th>
                                                                  <th class="count">Count</th>
                                                                </tr>
                                  
                                                                {% for entry in wc_word_list %}
                                                                <tr>
                                                                    
                                                                    <td class="key-data">{{ entry.Keyword }}</td>
                                                                    <td class="count-data">{{ entry.Count }}</td>
                                                                </tr>
                                                                {% endfor %}
                                  
                                                              </table>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                            
                                <h4 class="title ">Entered Text </h4> <br>

                                <div class ='enteredtxt' >{{text_or_par}}</div>    
                            </div>
  

                        </div>

 
                    </div>

                </div>
            </div>
        </div>
        </div>
        </div>
    </main>
    <footer class="footer-wrap py-3 ">
        <div class="container ">
            <p class="copyright-text text-center mb-0 ">
                © 2023 M-Suite All rights reserved.
            </p>
        </div>
    </footer>



    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js " integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin=" anonymous " referrerpolicy="no-referrer "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js " integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin=" anonymous " referrerpolicy="no-referrer "></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js "></script>
    <script src="chart.min.js "></script>



    <!-- donut chart overview -->
    <script>
        const chartData = {
            labels: ["Positive", "Neutral", "Negetive"],
            data: [{{p_count_txt}}, {{neu_count_txt}}, {{neg_count_txt}}],
            backgroundColor: ['#239daa', '#ff0000', '#fba31b']
        };

        const myChart = document.querySelector(".sentimentCharts");

        new Chart(myChart, {
            type: "doughnut",
            data: {
                labels: chartData.labels,
                datasets: [{
                    data: chartData.data,
                    backgroundColor: chartData.backgroundColor,
                }, ],
            },
            options: {
                borderWidth: 1,
                borderRadius: 2,
                hoverBorderWidth: 5,
                circumference: 180,
                rotation: 270,
                plugins: {
                    legend: {
                        display: false
                    },
                },
            }
        });
    </script>

    <script>
        document.getElementById('overview-link').addEventListener('click', function(event) {
            event.preventDefault();  // Prevent the default behavior of the link
            window.location.href = this.getAttribute('href');
        });
        </script>
      <script>
        document.getElementById('sentiment_analysis-link').addEventListener('click', function(event) {
            event.preventDefault();  // Prevent the default behavior of the link
            window.location.href = this.getAttribute('href');
        });
        </script>
        <script>
          document.getElementById('brand_authority-link').addEventListener('click', function(event) {
              event.preventDefault();  // Prevent the default behavior of the link
              window.location.href = this.getAttribute('href');
          });
          </script>
        <script>
          document.getElementById('brand_personality-link').addEventListener('click', function(event) {
              event.preventDefault();  // Prevent the default behavior of the link
              window.location.href = this.getAttribute('href');
          });
          </script>
      
          <script>
            document.getElementById('profile_analyzer-link').addEventListener('click', function(event) {
                event.preventDefault();  // Prevent the default behavior of the link
                window.location.href = this.getAttribute('href');
            });
            </script>

            <script>
              document.getElementById('website_keyword-link').addEventListener('click', function(event) {
                  event.preventDefault();  // Prevent the default behavior of the link
                  window.location.href = this.getAttribute('href');
              });
              </script>

              
            <script>
              document.getElementById('sentiments-link').addEventListener('click', function(event) {
                  event.preventDefault();  // Prevent the default behavior of the link
                  window.location.href = this.getAttribute('href');
              });
              </script>
        <script>
        function submitForm() {
            document.getElementById('historyForm').submit();
        }
    </script>

    <!-- External -->
    <script src="./assets/js/scripts-min.js "></script>
</body>

</html>